.login__frame{
    border-bottom-left-radius: 30px;
}
.login__form{
    display: grid;
    place-content: center;
    padding-top: 4rem;
}

.register__upper-block{
    display: grid;
    place-content: center;
    padding-bottom: 12rem;
}
.register__text-block{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
