.password-form__element{
    padding-top: 2rem;
}
.password-form__password-reset{
    cursor: pointer;
}
.password-form__sign-up{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.password-form__sign-up-link{
    cursor: pointer;
    color: #4FD1C5;
    font-weight: bolder;
}