.payments__container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;   
    margin-bottom: 1rem;  
    width: 49.5%;
}
.payments__header{
    margin: 1rem;
}
.payments__list{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.payments__icons{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.payments__lower-block{
    display: flex;
    flex-direction: row;
}
.payments__btn{
    width: 120px;
    color: white;
    background-color: #313860;
    border-radius: 20px;
    margin-top: 2rem;
}