.dashboard__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 2rem;
}
.dashboard__options{
    display: flex;
    flex-direction: column;
    
    padding-top: 2rem;
}
.dashboard__helpbox{
    padding-top: 1rem;
}
.dashboard__small-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
}



